// reset
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;900&display=swap');


* {
   padding: 0; 
   margin: 0;
   list-style: none;
   border: none;
   text-decoration: none;
   box-sizing: border-box;
   -webkit-overflow-scrolling: touch;
   font-family: 'Mulish', sans-serif;

   &:focus {
       outline: 0;
   }
}

body {
    background: #E7EAFB;
    padding: 50px;
    
}

.job-item {
    background: #fff;
    box-shadow: 0 21px 87px -37px rgba(#5062D3, .5);
    border-radius: 20px;
    max-width: 610px;
    padding: 50px 50px 40px;
    display: flex;
    flex-direction: column;
    .title {
        margin-bottom: 5px;
        font-size: 25px;
        color: #111127;
        font-weight: bold;
        a {
            color: #111127;
        }
      }
      .alt-title {
        color: rgba(#111127, .7);
        font-size: 16px;
        margin-bottom: 24px;
      }
      p {
        font-size: 18px;
        color: #111127;
        line-height: 26px;
        margin-bottom: 25px;
      }
      .tags {
          display: flex;
          flex-wrap: wrap;
          a {
              padding: 7px 20px;
              background: #E7EAFB;
              border-radius: 30px;
              font-size: 14px;
              color: #111127;
              margin: 0 10px 10px 0;

             &:hover {
                 background:darken(#E7EafB, 3%) ;
             }
          }
      }
}

